<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <div class="row">
    <div class="logo-column">
      <img src="../../img/logo.jpg" alt="logo">
      <span> Bem vindo a {{ title }}!</span>

    </div>
    <div class="login-column">
      <span class="fill-remaining-space"></span>
      <button mat-button>opcao 1</button>
      <button mat-button>opcao 2</button>
      <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
    </div>
  </div>
    
</mat-toolbar>