.row {display: flex;}

.title {
    margin-right: 10px;
}
.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.link {
    text-decoration: underline;
    font-size: 16px;
    color: #373a3f;
    margin-left: 15px;
}