.container {
    background-color: #373a3f;
    height: 100vh;
}

.row {
    display: flex;
    height: 50px;
}

.logo-column {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #373a3f;
}

.login-column {
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: #1fd5fe;
    float: right;
}